* {
  font-family: arial, sans-serif;
}

.container {
  position: relative;
  background: #fff;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 10px;
}

.container:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

.time {
  font-size: 50px;
  text-align: center;
  cursor: pointer;
}
.work {
  color: #ff8c00;
}
.break {
  color: #87ceeb;
}
