$outer-border-color: rgba(255, 255, 255, 0);
$white: #fff;
$working-color: #ff8c00;
$breaking-color: #87ceeb;
$gray: #d3d3d3;

%absolute-center {
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
}

* {
  font-family: arial, sans-serif;
}

.container {
  background: $white;
  border: 1px solid $outer-border-color;
  border-radius: 5px;
  height: auto;
  position: relative;
  width: 100%;
}

.time {
  @extend %absolute-center;
  cursor: pointer;
  font-size: 45px;
  font-weight: bold;
  text-align: center;

  &.work {
    color: $working-color;
  }

  &.break {
    color: $breaking-color;
  }
}

.timer-button {
  cursor: pointer;
  font-size: 100px;
  opacity: .3;
  text-align: center;

  &-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .work {
    color: $working-color;
  }

  .break {
    color: $breaking-color;
  }
}
